/.DS_Store
/a.out
/der_tree_graph_dump.dot
/der_tree_graph_dump.svg
/input.txt
/launch.sh
/test.cpp
/test_lection.cpp
/tree
/tree.dSYM
/tree_graph_dump.dot
/tree_graph_dump.svg
/tree.pdf
/tree_graph_dump.svg
/free.fdb_latexmk
/tree.fls
/tree.log
/tree.synctex.gz
/tree.tex
